body{color:red;font-size: .32rem;}
$yellow:#ff7812;
$fontColor:#333;

.menu{
	display: flex;
	align-items: center;
	li{
		width:50%;
		padding:.28rem 0;
		text-align:center;
		box-shadow:inset 0  -1px 0px #e6e6e6;
		&.active{
			box-shadow:inset 0  -1px 0px #0069d9;
			a{
				color:#0069d9
			}
		}
	}
}